# Règles udev pour les consoles Gamebuino META & Classic sous Linux
# Copier dans /etc/udev/rules.d/99-gamebuino.rules puis lancer:
# sudo udevadm control --reload-rules && sudo udevadm trigger

# Gamebuino META (Bootloader SAMD21)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="024d", MODE="0666", GROUP="dialout"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="804d", MODE="0666", GROUP="dialout"

# Périphérique série générique USB pour téléversement Gamebuino
KERNEL=="ttyACM*", MODE="0666", GROUP="dialout"
KERNEL=="ttyUSB*", MODE="0666", GROUP="dialout"
